{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    {% block content %}
    {% endblock %}
<script src="{% static 'bs/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'bs/js/bootstrap.min.js' %}"></script>
</body>
</html>